VoucherWebService/Service References/Infra/AuthenticationService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/SystemGroup.Web.Hosting.REST" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/SystemGroup.Web.Hosting.REST" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="AuthenticationSession">
    <xs:sequence>
      <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="rsa" nillable="true" type="tns:AuthenticationSession.RSAPublicParameters" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AuthenticationSession" nillable="true" type="tns:AuthenticationSession" />
  <xs:complexType name="AuthenticationSession.RSAPublicParameters">
    <xs:sequence>
      <xs:element minOccurs="0" name="M" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="E" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AuthenticationSession.RSAPublicParameters" nillable="true" type="tns:AuthenticationSession.RSAPublicParameters" />
</xs:schema>