VoucherWebService/Service References/FinVoucher/VoucherService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="VoucherService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost/Jahad3g/x43fabd14/Financial/VoucherManagement/Services/VoucherService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost/Jahad3g/x43fabd14/Financial/VoucherManagement/Services/VoucherService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost/Jahad3g/x43fabd14/Financial/VoucherManagement/Services/VoucherService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/SystemGroup.Financial.IVoucherManagement.Common" />
      <xsd:import schemaLocation="http://localhost/Jahad3g/x43fabd14/Financial/VoucherManagement/Services/VoucherService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/System.Collections.Generic" />
      <xsd:import schemaLocation="http://localhost/Jahad3g/x43fabd14/Financial/VoucherManagement/Services/VoucherService.svc?xsd=xsd4" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IVoucherService_RegisterVoucher_InputMessage">
    <wsdl:part name="parameters" element="tns:RegisterVoucher" />
  </wsdl:message>
  <wsdl:message name="IVoucherService_RegisterVoucher_OutputMessage">
    <wsdl:part name="parameters" element="tns:RegisterVoucherResponse" />
  </wsdl:message>
  <wsdl:message name="IVoucherService_ValidateVoucher_InputMessage">
    <wsdl:part name="parameters" element="tns:ValidateVoucher" />
  </wsdl:message>
  <wsdl:message name="IVoucherService_ValidateVoucher_OutputMessage">
    <wsdl:part name="parameters" element="tns:ValidateVoucherResponse" />
  </wsdl:message>
  <wsdl:message name="IVoucherService_DeleteVoucher_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteVoucher" />
  </wsdl:message>
  <wsdl:message name="IVoucherService_DeleteVoucher_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteVoucherResponse" />
  </wsdl:message>
  <wsdl:message name="IVoucherService_DeleteVouchersByAuxiliaryNumber_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteVouchersByAuxiliaryNumber" />
  </wsdl:message>
  <wsdl:message name="IVoucherService_DeleteVouchersByAuxiliaryNumber_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteVouchersByAuxiliaryNumberResponse" />
  </wsdl:message>
  <wsdl:message name="IVoucherService_ViewVoucher_InputMessage">
    <wsdl:part name="parameters" element="tns:ViewVoucher" />
  </wsdl:message>
  <wsdl:message name="IVoucherService_ViewVoucher_OutputMessage">
    <wsdl:part name="parameters" element="tns:ViewVoucherResponse" />
  </wsdl:message>
  <wsdl:message name="IVoucherService_ViewVoucherByAuxiliaryNumber_InputMessage">
    <wsdl:part name="parameters" element="tns:ViewVoucherByAuxiliaryNumber" />
  </wsdl:message>
  <wsdl:message name="IVoucherService_ViewVoucherByAuxiliaryNumber_OutputMessage">
    <wsdl:part name="parameters" element="tns:ViewVoucherByAuxiliaryNumberResponse" />
  </wsdl:message>
  <wsdl:portType name="IVoucherService">
    <wsdl:operation name="RegisterVoucher">
      <wsdl:input wsaw:Action="http://tempuri.org/IVoucherService/RegisterVoucher" message="tns:IVoucherService_RegisterVoucher_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IVoucherService/RegisterVoucherResponse" message="tns:IVoucherService_RegisterVoucher_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ValidateVoucher">
      <wsdl:input wsaw:Action="http://tempuri.org/IVoucherService/ValidateVoucher" message="tns:IVoucherService_ValidateVoucher_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IVoucherService/ValidateVoucherResponse" message="tns:IVoucherService_ValidateVoucher_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteVoucher">
      <wsdl:input wsaw:Action="http://tempuri.org/IVoucherService/DeleteVoucher" message="tns:IVoucherService_DeleteVoucher_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IVoucherService/DeleteVoucherResponse" message="tns:IVoucherService_DeleteVoucher_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteVouchersByAuxiliaryNumber">
      <wsdl:input wsaw:Action="http://tempuri.org/IVoucherService/DeleteVouchersByAuxiliaryNumber" message="tns:IVoucherService_DeleteVouchersByAuxiliaryNumber_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IVoucherService/DeleteVouchersByAuxiliaryNumberResponse" message="tns:IVoucherService_DeleteVouchersByAuxiliaryNumber_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ViewVoucher">
      <wsdl:input wsaw:Action="http://tempuri.org/IVoucherService/ViewVoucher" message="tns:IVoucherService_ViewVoucher_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IVoucherService/ViewVoucherResponse" message="tns:IVoucherService_ViewVoucher_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ViewVoucherByAuxiliaryNumber">
      <wsdl:input wsaw:Action="http://tempuri.org/IVoucherService/ViewVoucherByAuxiliaryNumber" message="tns:IVoucherService_ViewVoucherByAuxiliaryNumber_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IVoucherService/ViewVoucherByAuxiliaryNumberResponse" message="tns:IVoucherService_ViewVoucherByAuxiliaryNumber_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:service name="VoucherService" />
</wsdl:definitions>