IE/Service References/FinVoucherService/VoucherService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost/Jahad3g/x43fabd14/Financial/VoucherManagement/Services/VoucherService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/SystemGroup.Financial.IVoucherManagement.Common" />
  <xs:import schemaLocation="http://localhost/Jahad3g/x43fabd14/Financial/VoucherManagement/Services/VoucherService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/System.Collections.Generic" />
  <xs:import schemaLocation="http://localhost/Jahad3g/x43fabd14/Financial/VoucherManagement/Services/VoucherService.svc?xsd=xsd4" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="RegisterVoucher">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/SystemGroup.Financial.IVoucherManagement.Common" minOccurs="0" name="voucher" nillable="true" type="q1:VoucherData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegisterVoucherResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/SystemGroup.Financial.IVoucherManagement.Common" minOccurs="0" name="RegisterVoucherResult" nillable="true" type="q2:VoucherInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidateVoucher">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/SystemGroup.Financial.IVoucherManagement.Common" minOccurs="0" name="voucher" nillable="true" type="q3:VoucherData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidateVoucherResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/System.Collections.Generic" minOccurs="0" name="ValidateVoucherResult" nillable="true" type="q4:ArrayOfKeyValuePairOfstringstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteVoucher">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="ids" nillable="true" type="q5:ArrayOflong" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteVoucherResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteVouchersByAuxiliaryNumber">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="auxiliaryNumber" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteVouchersByAuxiliaryNumberResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ViewVoucher">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ViewVoucherResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/SystemGroup.Financial.IVoucherManagement.Common" minOccurs="0" name="ViewVoucherResult" nillable="true" type="q6:VoucherData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ViewVoucherByAuxiliaryNumber">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="auxiliaryNumber" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ViewVoucherByAuxiliaryNumberResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/SystemGroup.Financial.IVoucherManagement.Common" minOccurs="0" name="ViewVoucherByAuxiliaryNumberResult" nillable="true" type="q7:ArrayOfVoucherData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>